<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">

    <div class="navbar-left">
      <a class="navbar-brand" href="/">Wikinimous</a>

    <div class="navbar-right">
      <ul class="navbar-right">
          <a href="/articles/new">New Article</a>
      </ul>
    </div>

    </nav>

    <%= yield %>

  </body>
</html>
